@import url(hamburgers.css);
#panelBlanco {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: inline;
  position: fixed;
  z-index: 200;
  margin-left: -600px; }

#panelBlanco.clicked {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  margin-left: 0px; }

#panelBlanco.clickedBack {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  margin-left: -600px; }

#menu {
  height: 100vh;
  width: 100%;
  background-color: #f4f4f4;
  position: fixed;
  display: block;
  margin-left: -900px;
  z-index: 300; }
  #menu #ulContainer {
    padding-top: 15vh;
    padding-bottom: 5vh; }
    #menu #ulContainer ul li {
      list-style: none;
      font-family: "Heebo", sans-serif;
      font-size: 3rem;
      font-weight: 700; }
      #menu #ulContainer ul li a {
        text-decoration: none;
        color: #000;
        cursor: pointer; }
  #menu #contactContainer {
    max-width: 70%;
    margin-left: 40px;
    opacity: 0; }
    #menu #contactContainer p {
      font-family: "Hind", sans-serif; }
      #menu #contactContainer p a {
        color: #f84525; }
    #menu #contactContainer #getTouch {
      font-family: "Heebo", sans-serif;
      font-size: 16px;
      font-weight: 700; }
    #menu #contactContainer ul {
      display: flex;
      justify-content: space-between;
      padding-top: 0vh;
      padding-left: 0;
      max-width: 50%; }
      #menu #contactContainer ul li {
        list-style: none; }
        #menu #contactContainer ul li i {
          color: darkgrey;
          cursor: pointer;
          transition: color .6s; }
        #menu #contactContainer ul li i:hover {
          color: black; }
  #menu #contactContainer.opacidad {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 1; }

#menu.clicked {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  margin-left: 0px; }

#menu.clickedBack {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  margin-left: -900px; }

#cabecera {
  min-height: 100vh;
  background-image: url(../img/641.jpg);
  background-size: cover; }
  #cabecera #nav {
    height: auto; }
    #cabecera #nav #burger {
      padding-top: 2rem;
      padding-left: 5%;
      outline: none;
      z-index: 900; }
  #cabecera #portada {
    heigh: auto;
    padding-top: 10rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    #cabecera #portada #hero-container {
      height: auto;
      max-width: 85%;
      justify-self: center;
      align-self: center; }
      #cabecera #portada #hero-container h2 {
        font-family: "Heebo", sans-serif;
        font-size: 12px;
        font-weight: 100;
        letter-spacing: 1.5px;
        color: #f84525;
        margin: 0; }
      #cabecera #portada #hero-container h1 {
        font-family: "Heebo", sans-serif;
        font-size: 46px;
        line-height: 52px;
        font-weight: 700;
        color: #fff; }
      #cabecera #portada #hero-container span {
        display: block; }
      #cabecera #portada #hero-container p {
        font-family: "Hind", sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #fff;
        max-width: 80%; }
      #cabecera #portada #hero-container #masInfo {
        margin-top: 5vh;
        max-width: 120px; }
        #cabecera #portada #hero-container #masInfo i {
          color: #fff;
          display: inline;
          cursor: pointer; }
        #cabecera #portada #hero-container #masInfo i:hover {
          color: #f84525; }
        #cabecera #portada #hero-container #masInfo h4 {
          color: #fff;
          font-family: "Heebo", sans-serif;
          font-size: 12px;
          display: inline;
          cursor: pointer; }

#portfolio {
  min-height: 100vh;
  background-color: #00284d;
  display: flex;
  justify-content: center;
  align-items: start; }
  #portfolio .container {
    height: auto;
    width: 90%;
    margin-top: 10rem;
    margin-bottom: 13rem; }
    #portfolio .container #galeria img {
      max-width: 100%;
      -webkit-transition: .75s;
      -moz-transition: .75s;
      -ms-transition: .75s;
      -o-transition: .75s;
      transition: .75s;
      -webkit-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75); }
    #portfolio .container #galeria .desaparece {
      opacity: 0; }
    #portfolio .container #galeria .aparece {
      opacity: 1; }
    #portfolio .container .icons {
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 1rem; }
      #portfolio .container .icons i {
        color: #fff; }
    #portfolio .container #listado {
      margin-top: 2rem;
      margin-bottom: 2rem; }
      #portfolio .container #listado ul {
        list-style: none;
        position: absolute;
        padding-left: 0; }
        #portfolio .container #listado ul li {
          font-family: "Hind", sans-serif;
          font-size: 1.25rem;
          color: #fff;
          font-weight: 300;
          opacity: .5;
          -webkit-transition: 1s;
          -moz-transition: 1s;
          -ms-transition: 1s;
          -o-transition: 1s;
          transition: 1s; }
        #portfolio .container #listado ul .active {
          font-family: "Hind", sans-serif;
          font-size: 3rem;
          color: #fff;
          font-weight: 700;
          opacity: 1; }

#about {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  #about .container {
    max-width: 90%; }
    #about .container .texto h2 {
      font-family: "Heebo", sans-serif;
      font-size: 14px;
      color: #f84525; }
    #about .container .texto p {
      font-family: "Hind", sans-serif;
      font-size: 16px;
      line-height: 21px;
      font-weight: 400; }
    #about .container .texto #iconosWeb {
      display: none; }
    #about .container .photo img {
      max-width: 100%; }

@media screen and (min-width: 600px) {
  #menu #ulContainer {
    padding-top: 30vh;
    padding-bottom: 12vh; }
    #menu #ulContainer ul li {
      list-style: none;
      font-family: "Heebo", sans-serif;
      font-size: 3rem;
      font-weight: 700;
      padding: .4vh 0; }
      #menu #ulContainer ul li a {
        text-decoration: none;
        color: #000;
        cursor: pointer; }
  #menu #contactContainer {
    max-width: 70%;
    margin-left: 40px; }
    #menu #contactContainer p {
      font-family: "Hind", sans-serif; }
      #menu #contactContainer p a {
        color: #f84525; }
    #menu #contactContainer ul {
      display: flex;
      justify-content: space-between;
      padding-top: 1vh;
      padding-left: 0;
      max-width: 30%; }
      #menu #contactContainer ul li {
        list-style: none; }
        #menu #contactContainer ul li i {
          color: darkgrey;
          cursor: pointer;
          transition: color .6s; }
        #menu #contactContainer ul li i:hover {
          color: black; }

  #cabecera {
    background-color: #1f1e1d; }
    #cabecera #nav {
      height: 15rem; }
      #cabecera #nav #burger {
        padding-top: 2rem;
        padding-left: 5%; }
    #cabecera #portada {
      height: auto; }
      #cabecera #portada #hero-container {
        height: auto;
        max-width: 85%; }
        #cabecera #portada #hero-container p {
          max-width: 70%; }

  #portfolio .container {
    margin-top: 15rem; }

  #about {
    min-height: 60vh; }
    #about .container {
      max-width: 70%;
      margin-top: 2rem;
      margin-bottom: 2rem; }
      #about .container .texto h2 {
        font-family: "Heebo", sans-serif;
        font-size: 14px;
        color: #f84525; }
      #about .container .texto p {
        font-family: "Hind", sans-serif;
        font-size: 16px;
        line-height: 21px;
        font-weight: 400; }
      #about .container .photo {
        margin-top: 2rem; }
        #about .container .photo img {
          max-width: 100%; } }
@media screen and (min-width: 768px) {
  #panelBlanco {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    display: inline;
    position: fixed;
    z-index: 200;
    margin-left: -1024px; }

  #panelBlanco.clicked {
    margin-left: 0px; }

  #panelBlanco.clickedBack {
    margin-left: -1024px; }

  #menu {
    margin-left: -1400px; }

  #menu.clicked {
    margin-left: 0px; }

  #menu.clickedBack {
    margin-left: -1400px; }

  #cabecera {
    min-height: 100vh;
    background-color: #091b23; }
    #cabecera #nav {
      height: auto; }
      #cabecera #nav #burger {
        padding-top: 5vh;
        padding-left: 40px; }
    #cabecera #portada {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center; }
      #cabecera #portada #hero-container {
        min-height: auto;
        max-width: 80%;
        justify-self: center;
        align-self: center;
        margin-top: 10rem; }
        #cabecera #portada #hero-container h2 {
          font-size: 16px; }
        #cabecera #portada #hero-container h1 {
          font-size: 72px;
          line-height: 90px; }
        #cabecera #portada #hero-container span {
          display: block; }
        #cabecera #portada #hero-container p {
          font-size: 22px;
          line-height: 38px;
          max-width: 60%; }
        #cabecera #portada #hero-container #masInfo i {
          color: #fff;
          display: inline;
          cursor: pointer; }
        #cabecera #portada #hero-container #masInfo i:hover {
          color: #f84525; }
        #cabecera #portada #hero-container #masInfo h4 {
          color: #fff;
          font-family: "Heebo", sans-serif;
          display: inline;
          cursor: pointer; }

  #about .container {
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(2, 50%);
    grid-column-gap: 3rem; }
    #about .container .texto {
      grid-row: 1 / 3;
      grid-column: 3 / 6;
      max-width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #about .container .texto h2 {
        font-family: "Heebo", sans-serif;
        font-size: 14px;
        color: #f84525; }
      #about .container .texto p {
        font-family: "Hind", sans-serif;
        font-size: 16px;
        line-height: 21px;
        font-weight: 400; }
    #about .container .photo {
      grid-row: 1 / 3;
      grid-column: 1 / 3; }
      #about .container .photo img {
        max-width: 100%; } }
@media screen and (min-width: 1024px) {
  #panelBlanco {
    width: calc(100% - 100px);
    margin-left: -1200px; }

  #panelBlanco.clicked {
    margin-left: 100px; }

  #panelBlanco.clickedBack {
    margin-left: -1200px; }

  #menu {
    width: calc(100% - 100px);
    margin-left: -2200px;
    display: flex; }
    #menu #ulContainer {
      padding-top: 30vh;
      padding-bottom: 12vh;
      width: 65%; }
      #menu #ulContainer ul li {
        font-size: 5rem;
        padding: .4vh 0; }
    #menu #contactContainer {
      width: 35%;
      margin-left: 0px;
      padding-top: 55vh; }
      #menu #contactContainer p {
        font-family: "Hind", sans-serif; }
        #menu #contactContainer p a {
          color: #f84525; }
      #menu #contactContainer ul {
        display: flex;
        justify-content: space-between;
        padding-top: 1vh;
        padding-left: 0;
        max-width: 150px; }
        #menu #contactContainer ul li i {
          color: darkgrey;
          cursor: pointer;
          transition: color .6s; }

  #menu.clicked {
    margin-left: 100px; }

  #menu.clickedBack {
    margin-left: -2200px; }

  #cabecera {
    display: flex;
    flex-direction: row;
    min-height: 100vh; }
    #cabecera #nav {
      min-height: 100vh;
      width: 100px;
      background-color: #091b23;
      display: flex;
      justify-content: center;
      z-index: 300;
      position: fixed; }
      #cabecera #nav #burger {
        padding: 0; }
    #cabecera #portada {
      height: auto;
      width: calc(100% - 100px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      margin-left: 100px;
      padding-top: 0; }
      #cabecera #portada #hero-container {
        height: auto;
        max-width: 80%;
        padding-top: 100px; }
        #cabecera #portada #hero-container h2 {
          font-size: 16px; }
        #cabecera #portada #hero-container h1 {
          font-size: 72px;
          line-height: 90px; }
        #cabecera #portada #hero-container span {
          display: block; }
        #cabecera #portada #hero-container p {
          font-size: 22px;
          line-height: 38px;
          max-width: 60%; }
        #cabecera #portada #hero-container #masInfo {
          max-width: 150px; }
          #cabecera #portada #hero-container #masInfo i {
            color: #fff;
            display: inline;
            cursor: pointer; }
          #cabecera #portada #hero-container #masInfo i:hover {
            color: #f84525; }
          #cabecera #portada #hero-container #masInfo h4 {
            color: #fff;
            font-family: "Heebo", sans-serif;
            display: inline;
            cursor: pointer;
            padding-left: 10px; }

  #portfolio {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px; }
    #portfolio .container {
      height: auto;
      width: 90%;
      margin-top: 10rem; }
      #portfolio .container .icons {
        width: 60px; }
        #portfolio .container .icons i {
          color: #fff; }
      #portfolio .container #listado {
        margin-top: 5vh; }
        #portfolio .container #listado ul li {
          font-size: 1.6rem; }
        #portfolio .container #listado ul .active {
          font-size: 3.6rem; }

  #about {
    margin-left: 100px; } }
@media screen and (min-width: 1200px) {
  #panelBlanco {
    width: calc(100% - 100px);
    margin-left: -1440px; }

  #panelBlanco.clicked {
    margin-left: 100px; }

  #panelBlanco.clickedBack {
    margin-left: -1440px; }

  #menu {
    width: calc(100% - 100px);
    margin-left: -1740px; }
    #menu #ulContainer ul {
      padding-left: 120px; }
      #menu #ulContainer ul li {
        font-size: 4rem; }
    #menu #contactContainer {
      width: 35%;
      margin-left: 0px;
      padding-top: 60vh; }
      #menu #contactContainer p {
        font-family: "Hind", sans-serif;
        font-size: 18px; }
        #menu #contactContainer p a {
          color: #f84525; }
      #menu #contactContainer #getTouch {
        font-size: 20px; }
      #menu #contactContainer ul {
        display: flex;
        justify-content: space-between;
        padding-top: 0;
        padding-left: 0;
        max-width: 150px; }
        #menu #contactContainer ul li i {
          color: darkgrey;
          cursor: pointer;
          transition: color .6s; }

  #menu.clicked {
    margin-left: 100px; }

  #menu.clickedBack {
    margin-left: -1740px; }

  #cabecera {
    width: 100%; }
    #cabecera #nav {
      width: 100px; }
    #cabecera #portada {
      width: 100%; }
      #cabecera #portada #hero-container {
        min-height: 40vh;
        max-width: 80%;
        padding-top: 100px;
        padding-left: 6rem;
        align-self: start; }
        #cabecera #portada #hero-container h2 {
          font-size: 16px; }
        #cabecera #portada #hero-container h1 {
          font-size: 72px;
          line-height: 90px; }
        #cabecera #portada #hero-container span {
          display: block; }
        #cabecera #portada #hero-container p {
          font-size: 22px;
          line-height: 38px;
          max-width: 60%; }
        #cabecera #portada #hero-container #masInfo {
          max-width: 150px; }
          #cabecera #portada #hero-container #masInfo i {
            color: #fff;
            display: inline;
            cursor: pointer; }
          #cabecera #portada #hero-container #masInfo i:hover {
            color: #f84525; }
          #cabecera #portada #hero-container #masInfo h4 {
            color: #fff;
            font-family: "Heebo", sans-serif;
            display: inline;
            cursor: pointer;
            padding-left: 10px; }

  #portfolio {
    min-height: 100vh;
    padding-top: 0rem;
    padding-bottom: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px; }
    #portfolio .container {
      height: auto;
      max-width: 700px;
      margin-top: 0vh; }
      #portfolio .container #galeria img {
        max-width: 100%;
        -webkit-transition: .45s;
        -moz-transition: .45s;
        -ms-transition: .45s;
        -o-transition: .45s;
        transition: .45s; }
      #portfolio .container #galeria .desaparece {
        opacity: 0; }
      #portfolio .container #galeria .aparece {
        opacity: 1; }
      #portfolio .container .icons {
        width: 60px; }
        #portfolio .container .icons i {
          color: #fff;
          cursor: pointer; }
      #portfolio .container #listado {
        margin-top: 1rem; }
        #portfolio .container #listado ul {
          padding-left: 0; }
          #portfolio .container #listado ul li {
            font-size: 1.6rem; }
          #portfolio .container #listado ul .active {
            font-size: 3.6rem; }

  #about {
    min-height: 100vh;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0; }
    #about .container {
      max-width: 80%;
      display: grid;
      grid-template-columns: repeat(5, 20%);
      grid-template-rows: repeat(2, 50%);
      grid-column-gap: 5rem; }
      #about .container .texto {
        grid-row: 1 / 3;
        grid-column: 3 / 6;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        #about .container .texto h2 {
          font-size: 16px; }
        #about .container .texto p {
          font-size: 20px;
          line-height: 25px; }
        #about .container .texto #iconosWeb {
          display: flex;
          flex-direction: row;
          list-style: none;
          padding-left: 0;
          align-items: center;
          justify-content: space-around;
          width: 70%;
          margin: 0 auto;
          padding-top: 2rem; }
          #about .container .texto #iconosWeb li:nth-child(1) {
            color: #cf0000; }
          #about .container .texto #iconosWeb li:nth-child(2) {
            color: #cf0000; }
          #about .container .texto #iconosWeb li:nth-child(3) {
            color: #cf0000; }
    #about .photo {
      grid-row: 1 / 3;
      grid-column: 1 / 3; }
      #about .photo img {
        max-width: 100%; } }
@media screen and (min-width: 1440px) {
  #panelBlanco {
    width: calc(100% - 100px);
    margin-left: -1600px; }

  #panelBlanco.clicked {
    margin-left: 100px; }

  #panelBlanco.clickedBack {
    margin-left: -1600px; }

  #menu {
    margin-left: -2000px; }
    #menu #ulContainer ul {
      padding-left: 170px; }
      #menu #ulContainer ul li {
        font-size: 4.5rem;
        padding: .4rem 0; }
    #menu #contactContainer {
      width: 35%;
      margin-left: 0px;
      padding-top: 60vh; }
      #menu #contactContainer p {
        font-family: "Hind", sans-serif;
        font-size: 18px; }
      #menu #contactContainer #getTouch {
        font-size: 20px; }

  #menu.clicked {
    margin-left: 100px; }

  #menu.clickedBack {
    margin-left: -2000px; } }
@media screen and (min-width: 1600px) {
  #panelBlanco {
    width: calc(100% - 100px);
    margin-left: -100%; }

  #panelBlanco.clicked {
    margin-left: 100px; }

  #panelBlanco.clickedBack {
    margin-left: -100%; }

  #menu {
    margin-left: -120%; }
    #menu #ulContainer {
      padding-top: 20vh; }
      #menu #ulContainer ul {
        padding-left: 250px; }
        #menu #ulContainer ul li {
          font-size: 5.5rem;
          padding: .4rem 0; }
    #menu #contactContainer p {
      font-family: "Hind", sans-serif;
      font-size: 18px; }
    #menu #contactContainer #getTouch {
      font-size: 20px; }

  #menu.clicked {
    margin-left: 100px; }

  #menu.clickedBack {
    margin-left: -120%; }

  #cabecera #nav {
    width: 100px; }
  #cabecera #portada #hero-container {
    min-height: 40vh;
    max-width: 80%;
    padding-top: 100px;
    padding-left: 14rem; }
    #cabecera #portada #hero-container h2 {
      font-size: 16px; }
    #cabecera #portada #hero-container h1 {
      font-size: 72px;
      line-height: 90px; }
    #cabecera #portada #hero-container span {
      display: block; }
    #cabecera #portada #hero-container p {
      font-size: 22px;
      line-height: 38px;
      max-width: 60%; }
    #cabecera #portada #hero-container #masInfo i {
      color: #fff;
      display: inline;
      cursor: pointer; }
    #cabecera #portada #hero-container #masInfo i:hover {
      color: #f84525; }
    #cabecera #portada #hero-container #masInfo h4 {
      color: #fff;
      font-family: "Heebo", sans-serif;
      display: inline;
      cursor: pointer;
      padding-left: 10px; }

  #portfolio {
    min-height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px; }
    #portfolio .container {
      min-height: 100vh;
      max-width: 90%;
      margin-top: 0;
      margin-bottom: 0;
      display: grid;
      grid-template-columns: repeat(10, 10%);
      grid-template-rows: 33.3% 33.3% 33.3%; }
      #portfolio .container #galeria {
        grid-column: 1 / 8;
        grid-row: 1 / 4;
        display: flex;
        align-items: center;
        max-height: 90vh; }
        #portfolio .container #galeria img {
          max-width: 100%;
          -webkit-transition: .45s;
          -moz-transition: .45s;
          -ms-transition: .45s;
          -o-transition: .45s;
          transition: .45s; }
        #portfolio .container #galeria .desaparece {
          opacity: 0; }
        #portfolio .container #galeria .aparece {
          opacity: 1; }
      #portfolio .container .icons {
        width: 60px;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        padding-top: 5rem; }
        #portfolio .container .icons i {
          color: #fff;
          cursor: pointer; }
      #portfolio .container #listado {
        grid-column: 8 / 11;
        grid-row: 2 / 3;
        margin-top: 0;
        padding-left: 50px;
        display: flex;
        justify-content: start;
        align-items: center; }
        #portfolio .container #listado ul {
          padding-left: 0; }
          #portfolio .container #listado ul li {
            font-size: 1.6rem; }
          #portfolio .container #listado ul .active {
            font-size: 3.6rem; } }

/*# sourceMappingURL=style.css.map */
